body {
    background: url("/win.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
}

.haiku2000 {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 400px;
}

.boutons {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hof {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 400px;
}

.hos {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 400px;
}

.processus-creatif {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    max-width: 200px;
}
#icon-haiku {
    width: 50px;
    height: 80px;
}
.icon-haiku {
    background: url('/exe.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#icon-idea {
    width: 70px;
    height: 90px;
}

.icon-idea {
    background: url('/idea.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#icon-fame {
    width: 70px;
    height: 80px;
}
.icon-fame {
    background: url('/fame.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#icon-shame{
    width: 75px;
    height: 80px;
}
.icon-shame {
    background: url('/shame.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup {
    width: 150px;
    height:90px;
}

